.form {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  /* border: 1px solid orange; */
  background: rgba(249, 240, 240, 0.4);
  box-shadow: 0 0 20px orange;
  padding: 20px 15px;
  min-width: 1300px;
  height: auto;
}

form {
  width: 100%;
}
input {
  margin: -3rem 0;
  padding: 15px 20px;
  border: 0;
  outline: 4px solid orange;
  border-radius: 22px;
  margin-right: 10px;
  width: 70%;
  font-size: 18px;
  transition: 0.5s;
}
.button {
  background: orange;
  color: #ffff;
  padding: 8px 12px;
  border-radius: 20px;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 22px;
  transition: 0.5s;
  scale: 1;
}

input:focus {
  width: 70%;
}
button:hover {
  /* rotate: 20deg; */
}

.li {
  list-style: none;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgb(221, 221, 221);
  display: flex;
  justify-content: space-between;
}
.span {
  color: red;
  font-size: 26px;
  font-weight: 900;
  cursor: pointer;
}
